<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Motor Insurance Agreement</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylus1.css" />
  </head>
  <body>
    <div class="gradient"></div>
    <header class="header">
      <h1 class="header-title">Insurance Agreement</h1>
    </header>

    <div class="container">
      <h1>Motor Insurance Agreement</h1>
      <form action="#" method="post">
        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date:</label>
          <input
            type="date"
            class="form-control"
            id="startDate"
            name="startDate"
            required
          />
        </div>
        <div class="mb-3">
          <label for="expiryDate" class="form-label">Expiry Date:</label>
          <input
            type="date"
            class="form-control"
            id="expiryDate"
            name="expiryDate"
            required
          />
        </div>
        <div class="mb-3">
          <label for="termConditionDescription" class="form-label"
            >Term & Condition Description:</label
          >
          <input
            type="text"
            class="form-control"
            id="termConditionDescription"
            name="termConditionDescription"
            placeholder="Term & Condition Description"
            required
          />
        </div>

        <div class="mb-3">
          <a href="policyRe"
            ><button type="submit" class="btn btn-primary">Submit</button></a
          >
        </div>
      </form>
    </div>

    <footer class="footer">
      <p class="footer-text">&copy; 2024 Motor Insurance Company</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
